<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post"  enctype="multipart/form-data"    action="prdct">
  <table width="200" border="1">
    <tr>
      <td colspan="2"><div align="center">Add product </div></td>
    </tr>
    <tr>
      <td> Product Name  </td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><label>
        <div align="right">
          <select name="select">
            <option>smart watch</option>
            <option>camera</option>
            <option>bluetooth headset</option>
          </select>
          </div>
      </label></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td>Tax %</td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
       <div align="center">
         <input type="submit" name="Submit" value="ADD" />
        </div>
      </label></td>
    </tr>
  </table>
  <label></label>
  <p>&nbsp;</p>
</form>
</body>
</html>
