{% extends 'index3.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addcmplt">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td><label>
        <div align="right">Distributor
          <select name="select">
            {% for i in val %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
            </select>
          <br />
        </div>
      </label></td>

    </tr>
    <tr>
      <td><label>Complaint
        <textarea name="textarea" required></textarea>
      </label></td>

    </tr>
    <tr>
      <td><label>
        <div align="right">
          <input type="submit" name="Submit" value="Send" />
          </div>
      </label></td>

    </tr>
  </table>
</form>
</body>
{% endblock %}