{% extends 'index2.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="shop_reg">
 <table width="200" border="1" class="table table-striped">
    <tr>
      <td>Shop Name </td>
      <td>Location</td>
      <td>Contact</td>
      <td>Email</td>
      <td>Proof</td>
      <td>Status</td>

    </tr>

    {% for  i in val %}
    {% if i.lid.type == 'shopowner' or i.lid.type == 'block' %}

    <tr>
      <td>{{i.name}}</td>
      <td>{{i.location}}</td>
      <td>{{i.mobile_number}}</td>
      <td>{{i.email}}</td>
      <td><a href="{{i.image.url}}" width="100" height="100"><img src="{{i.image.url }}" width="100" height="100"/> </a></td>
      <td>
          {% if i.lid.type == 'shopowner' %}

        <p><a href="{% url 'blockshop' id=i.lid.id %}">BLOCK</a></p>
           {% else %}
        <p><a href="{% url 'unblockshop' id=i.lid.id %}">UNBLOCK</a></p>
           {% endif %}


    </td>
    </tr>           {% endif %}

    {% endfor %}

  </table>
  <p>
    <label></label>
  </p>
</form>
</body>
{% endblock %}