{% extends 'index2.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td>Date</td>
      <td>Shop</td>
      <td>Distributor name</td>
      <td>Complaint</td>
      <td>Status</td>

       
    </tr>

    {% for  i in val %}
    <tr>
      <td>{{i.date}}</td>
      <td>{{i.lid.name}}</td>
      <td>{{i.did.name}}</td>
      <td>{{i.complaint}}</td>
      <td>{% if  i.reply == 'pending'%}
        <a class="btn btn-primary" style="width:200px;">pending</a>
        {% else %}

        <a class="btn btn-primary" style="width:200px;">replied</a>
        {% endif %}
<!--        {% if i.reply == 'pending' %}-->
        
<!--        <a href="{% url 'rply_pg' id=i.id %}">reply</a>-->
      
      
<!--      {% else %} REPLIED-->
<!--      {% endif %}-->
      </td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}