{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post"  enctype="multipart/form-data"    action="{% url 'update' %}">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td colspan="2"><div align="center">Add product </div></td>
    </tr>
    <tr>
      <td> Product Name  </td>
      <td><label>
        <input type="text" name="textfield"  value="{{val.name}}" required/>
      </label></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><label>
        <div align="right">
          <select name="select" required>
             {% for i in v %}
             <option value="{{i.id}}">{{i.category_name}}</option>
            {% endfor %}
          </select>
          </div>
      </label></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><label>
        <input type="text" name="textfield2" value="{{val.quantity}}" required/>
      </label></td>
    </tr>
    <tr>
      <td>Tax %</td>
      <td><label>
        <input type="text" name="textfield3" value="{{val.Tax}}" required/>
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
        <input type="text" name="textfield4" value="{{val.price}}" required/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="file" name="file" /><img src="{{ val.image.url}}" width="100" height="100"></img>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
       <div align="center">
         <input type="submit" name="Submit" value="update" />
        </div>
      </label></td>
    </tr>
  </table>
  <label></label>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}