<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="shop_add_prd">
  <table width="200" border="1">
    <tr>
      <td>product name </td>
      <td>category</td>
      <td>price</td>
      <td>quantity</td>
      <td>image</td>
    </tr>
   {% for  i in val %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.category}}</td>
      <td>{{i.quantity}}</td>
       <td>{{i.price}}</td>
      <td><img src="../media/{{i.image}}" height="100" width="100" alt=""/></td>
      
      <td><p><a href="">edit</a></p>
      <p><a href="#">delete</a></p></td>
    </tr>
    {% endfor %}
    

    <tr>
      <td colspan="4"><div align="center">
        <input type="submit" name="Submit" value="Add" />        
      </div>
      <p>&nbsp;</p></td>
    </tr>
  </table>
  <p>
    <label></label>
    <label>
    
    </label></p>
<p><label></label></p>
</form>
</body>
</html>
