{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="add_prod">
  <table width="260" border="1" align="center" class="table table-striped">
    <tr>
      <td colspan="9"><label>
        <div align="right">
          <input type="submit" name="Submit" value="Add" class="btn btn-primary"/>
          </div>
      </label></td>
    </tr>
    <tr>
      <td width="300"><div align="center"> product name </div></td>
      <td width="100"><div align="center">category</div></td>
      <td width="100"><div align="center">price</div></td>
      <td width="100"><div align="center">MRP</div></td>
      <td width="100"><div align="center">quantity</div></td>
      <td width="100"><div align="center">stock count</div></td>
      <td width="100"><div align="center">image</div></td>
      <td></td>
      
    </tr>
    {% for  i in val %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.cid.category_name}}</td>
      <td>{{i.price}}</td>
      <td>{{i.MRP}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.stock}}</td>
      <td><img src="../media/{{i.image}}" height="100" width="100" alt=""/></td>
      <td><p><a href="{% url 'update_prod' id=i.id %}" width="200" class="btn btn-primary">edit</a></p>
      <p><a href="{% url 'delete_prod' id=i.id %}" width="100" class="btn btn-danger">delete</a></p></td>
    </tr>
    {% endfor %}

  </table>

</form>
</body>
{% endblock %}