{% extends 'index3.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
     <tr align="CENTER">
        <td colspan="5"><a href="#"><H1>PURCHASE REPORT(MONTH)</H1></a></td>
    </tr>
    <tr>
      <td><a href="#">Total sales</a></td><td style="width:300px;" class="form-control">{{v}}</td>
    </tr>
    <tr>
      <td><a href="#">Total amount</a></td><td style="width:300px;" class="form-control">{{m}} /-</td>
    </tr>
    <tr align="center">
      <td colspan="5"><a href="#"><h3>PRODUCT DEMAND</h3></a></td>
    </tr>
     <tr>
      <td>{{pd}}
        <a href="../media/{{im}}" width="100" height="100"><img src="../media/{{im}}" style="border-radius: 50%;" width="100" height="100"/> </a>

      </td><td >SALED COUNT -: {{cnt}}</td>
    </tr>
  </table>
  <a href="#"></a>
</form>
</body>
{% endblock %}