{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td>shop name </td>
      <td>location </td>
      <td>contact</td>
      <td>email</td>
    </tr>
    {% for  i in val %}
    <tr>
      <td>{{i.sid__name}}</td>
      <td>{{i.sid__location}}</td>
      <td>{{i.sid__mobile_number}}</td>
      <td>{{i.sid__email}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}