{% extends 'index3.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="searchandviewprdcts">
  <table width="200" border="1" class="table table-striped">
      <td colspan="6">         DISTRIBUTOR    :
<label>
            <center>
          <select name="select"class="form-control" required style="width:400px;">
            <option value="">SELECT</option>
            {% for i in val %}
            <option value="{{i.id}}" {% if i.id == d %}selected{% endif %}>{{i.name}}</option>
            {% endfor %}
          </select>
          </center>
      </label>          <input type="submit" name="Submit" value="Search" class="btn btn-primary" style="width:100px;">
</td>

    </tr>
    <tr>
      <td><label>
        Product
      </label></td>
      <td><label>
        image
      </label></td>
      <td><label>unit price </label></td>
      <td><label>qty</label></td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val1 %}
    <tr>
      <td>{{i.name}}</td>
      <td><a href="{{i.image.url}}" width="100" height="100"><img src="{{i.image.url }}" style="border-radius: 50%;" width="100" height="100"/> </a></td>
      <td>{{i.price}}</td>
      <td>{{i.quantity}}</td>
      <td><label>
        <div align="right"><a href="{% url 'odr_pg' id=i.id %}" class="btn btn-primary">Order Now</a></div>
      </label></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}