
{% extends 'adminhomeindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <td>Distributor Name </td>
      <td>Location</td>
      <td>Contact Number</td>
      <td>Email</td>
      <td>Proof</td>
      <td>Status</td>
      </tr>
    {% for  i in val %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.location}}</td>
      <td>{{i.mobile_number}}</td>
      <td>{{i.email}}</td>
      <td><a href="{{i.image.url}}" width="100" height="100"><img src="{{i.image.url }}" width="100" height="100"/> </a></td>


      <td>
        {% if i.lid.type == 'pending' %}
        <p><a href="{% url 'accept' id=i.lid.id %}">accept</a></p>
        <p><a href="{% url 'reject' id=i.lid.id %}">reject</a></p>
      {% elif i.lid.type == 'reject' %}REJECTED
      {% else %}ACCEPTED
      {% endif %}
    

    </td>
    </tr>
    {% endfor %}


  </table>
  </form>
</body>
{% endblock %}
