<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>date</td>
      <td>shop name</td>
      <td>product name </td>
      <td>qty</td>
      <td>price</td>
      <td>count</td>


    </tr>
    {% for  i in val %}
    <tr>
      <td>{{i.date}}</td>
      <td>{{i.sid.name}}</td>
      <td>{{i.pid.name}}</td>
      <td>{{i.pid.quantity}}</td>
      <td>{{i.pid.price}}</td>
      <td>{{i.Count}}</td>
 <td>
     {% if i.orderstatus == 'pending' %}
        <p><a href="{% url 'acceptorder' id=i.id %}">accept</a></p>
        <p><a href="{% url 'rejectorder' id=i.id %}">reject</a></p>
     {% elif i.orderstatus == 'reject' %}rejected
     {% else %}accepted
     {% endif %}

    </td>
    </tr>
    {% endfor %}
  </table>
 </form>
</body>
</html>
