<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
{% extends 'adminhomeindex.html' %}
<body>
<form id="form1" name="form1" method="post" action="shop_reg">
 <table  class="table table-dark table-striped">
    <tr>
      <td>shop name </td>
      <td>location</td>
      <td>contact</td>
      <td>email</td>
      <td>proof</td>
    </tr>

    {% for  i in val %}

    <tr>
      <td>{{i.name}}</td>
      <td>{{i.location}}</td>
      <td>{{i.mobile_number}}</td>
      <td>{{i.email}}</td>
      <td><img src="../media/{{i.image}}" height="100" width="100" alt=""/></td>
      <td>
      {% if i.lid.type == 'pending' %}
        <p><a href="{% url 'acceptshop' id=i.lid.id %}">accept</a></p>
        <p><a href="{% url 'rejectshop' id=i.lid.id %}">reject</a></p>
      {% elif i.lid.type == 'reject' %}REJECTED
      {% else %}ACCEPTED
      {% endif %}  

    </td>
    </tr>
    {% endfor %}
    
  </table>
  <p>
    <label></label>
  </p>
</form>
</body>
</html>
